.hide {
  display: none;
}
.body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline: none;
}
/* ========================================================================================================================================================
Header
======================================================================================================================================================== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1128px;
    padding: 0 15px;
  }
}

/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */

@media screen and (min-width: 320px) {
  .section-hero {
    background: #2e2f42;
    /* background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
    display: block;
    background-size: cover;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .section-hero-first {
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
  }

  .button {
    color: #ffffff;
    background: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    /* background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg); */
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 122px;
  }
  .section-hero-first {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background: #2e2f42;
    /* background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg); */

    max-width: 1128px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .section-hero-first {
    margin-bottom: 48px;
  }
}

/* ========================================================================================================================================================
Our team
======================================================================================================================================================== */
@media screen and (min-width: 320px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section-our-info {
    padding: 96px 0;
  }
  .our-quality-list-info {
    width: 100%;
  }
  .our-quality-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .our-quality-icon {
    display: none;
  }
  .our-quality {
    color: #2e2f42;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .our-quality-info {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .our-quality-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .our-quality-list-info {
    width: calc((100% - 72px) / 4);
  }
  .our-quality {
    text-align: start;
    margin: inherit;
    max-width: 264px;
  }

  .our-quality-info {
    max-width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .section-our-info {
    padding: 120px 0;
  }
  .our-quality-list {
    display: flex;
    gap: 24px;
  }
  .our-quality-icon {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-quality {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 264px;
    max-height: 24px;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .our-quality-info {
    font-weight: 400;
  }
}
/* ========================================================================================================================================================
section 3 Team photo
======================================================================================================================================================== */

@media screen and (min-width: 320px) {
  .team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
  }
  .our-team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    min-width: 162px;
  }
  .tema-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
  }
  .team-info {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .our-team-information {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .our-name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .our-position {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }
  .soc-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .icon-cintainer {
    width: 40px;
    height: 40px;
    display: flex;
  }

  .icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-link:hover,
  .icon-link:focus {
    background-color: #404bbf;
  }

  .icon-svg {
    margin: auto;
    fill: #f4f4fd;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 584px;
  }

  .team-info {
    width: calc((100% - 24px) / 2);
  }

  .tema-list {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .team-section {
    padding: 120px 0;
  }
  .tema-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-info {
    width: calc((100% - 72px) / 4);
  }
}
/* ========================================================================================================================================================
Sectiom 4 Portfolio
======================================================================================================================================================== */
@media screen and (min-width: 320px) {
  .last-section {
    padding: 96px 16px;
  }

  .portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .team-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    gap: 48px;
    justify-content: center;
  }
  .last-section-list {
    display: block;
    cursor: pointer;
    background: var(--WHITE, #fff);
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .last-section-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .last-section-list:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-img-cont {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    color: #f4f4fd;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projekt-class {
    display: flex;
    padding: 0px 16px;
    padding-top: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .portfolio-projekt {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-projekt-work {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .portfolio-img {
    background-color: #fff;
    max-width: 288px;
    max-height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .team-portfolio {
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
  }
  .portfolio-img {
    max-width: 356px;
    max-height: 300px;
  }

  .last-section-list {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .last-section {
    padding: 120px 0;
  }
  .portfolio-img {
    max-width: 360px;
    max-height: 300px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .last-section-list {
    width: calc((100% - 48px) / 3);
  }
}
